<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fen.fund.mapper.fund.FundTypeMapper">

    <resultMap id="TABLE:fund_type" type="com.fen.fund.model.fund.FundType">
        <id column="id" property="id" />
        <result column="type_name" property="typeName" />
        <result column="type_memo" property="typeMemo" />
    </resultMap>

</mapper>